.order-table{   
	border-collapse:collapse;
	background-color: white;
	
}

.order-table, td, th{
	padding: 2px 2px 2px 2px;
}

.order-table, tr:HOVER{
	background-color: orange;
}

.order-table-header{
	text-align:left;
	color:white;
	background:none repeat scroll 0 0 #A7C942;
	border-bottom:1px solid #BBBBBB;
	
}

.order-table-odd-row{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFFF;
	background-color: white;
	border-top:1px solid #BBBBBB;
	
}

.order-table-even-row{
	text-align:left;
	background:none repeat scroll 0 0 #EAF2D3;
	border-top:1px solid #BBBBBB;
	padding-left: 2px;
}
